.vscode
.DS_Store
phase1/OOD_Project_Phase1/OOD_Project_Phase1.xcodeproj/project.xcworkspace/xcuserdata/minaashraf.xcuserdatad/UserInterfaceState.xcuserstate
phase1/OOD_Project_Phase1/OOD_Project_Phase1.xcodeproj/project.xcworkspace/xcuserdata/minaashraf.xcuserdatad/UserInterfaceState.xcuserstate
